@model CarView

@{
    ViewData["Title"] = "Edytowanie samochodu";

    ViewData["Page"] = "CarEdit";
    ViewData["Group"] = "Car";

    Layout = "~/Areas/Home/Views/Shared/_Layout.cshtml";

}
<div class="page-inner">

    <div class="page-header">
        <h4 class="page-title">Edycja samochodu</h4>
    </div>

    <div class="card">
        @using (Html.BeginForm("Edit", "Car", new { area = "home" }, FormMethod.Post, true, new { @enctype = "multipart/form-data" }))

        {
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Dodaj samochód</h4>
                </div>
            </div>
            <div class="card-body">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                <div class="input-icon mb-3">
                    <span class="input-icon-addon">
                        <i class="fas fa-pen-alt"></i>
                    </span>
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Nazwa" })
                </div>
                <div class="input-icon mb-3">
                    <span class="input-icon-addon">
                        <i class="fas fa-pen-alt"></i>
                    </span>
                    @Html.TextBoxFor(x => x.HorsePower, new { @class = "form-control", @placeholder = "Ilość koni mechanicznych" })
                </div>
                <div class="input-icon mb-3">
                    <span class="input-icon-addon">
                        <i class="fas fa-pen-alt"></i>
                    </span>
                    @Html.TextBoxFor(x => x.Color, new { @class = "form-control", @placeholder = "Kolor samochodu" })
                </div>
                <div class="input-icon mb-3">
                    <span class="input-icon-addon">
                        <i class="fas fa-pen-alt"></i>
                    </span>
                    @Html.TextBoxFor(x => x.NumberOfDoors, new { @class = "form-control", @placeholder = "Liczba drzwi" })
                </div>
                <div class="input-icon mb-3">
                    <span class="input-icon-addon">
                        <i class="fas fa-pen-alt"></i>
                    </span>
                    @Html.TextBoxFor(x => x.Seats, new { @class = "form-control", @placeholder = "Ilość siedzeń" })
                </div>
                <div class="input-icon mb-3">
                    <span class="input-icon-addon">
                        <i class="fas fa-pen-alt"></i>
                    </span>
                    @Html.TextBoxFor(x => x.Mark, new { @class = "form-control", @placeholder = "Marka pojazdu" })
                </div>
                <div class="input-icon mb-3">
                    <span class="input-icon-addon">
                        <i class="fas fa-pen-alt"></i>
                    </span>
                    @Html.TextBoxFor(x => x.Capacity, new { @class = "form-control", @placeholder = "Pojemność pojazdu" })
                </div>
                <div class="input-icon mb-3">
                    <span class="input-icon-addon">
                        <i class="fas fa-pen-alt"></i>
                    </span>
                    @Html.TextBoxFor(x => x.Cost, new { @class = "form-control", @placeholder = "Cena pojazdu" })
                </div>
                <div class="input-icon mb-3">
                    <span class="input-icon-addon">
                        <i class="fas fa-pen-alt"></i>
                    </span>
                    @Html.TextBoxFor(x => x.Mileage, new { @class = "form-control", @placeholder = "Przebieg pojazdu" })
                </div>

                <div style="min-height:500px;" class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Dodaj zdjęcie samochodu</h4>

                        </div>
                    </div>
                    <div class="card-body mx-auto justify-content-center align-items-center flex-column">
                        <div class="form-group">
                            <div class="input-file input-file-image" onchange="previewFile(this);">
                                @if (Model != null && Model.CarFileImg != null)
                                {
                                    <h3 style="color:red;" class="text-center">Dołącz swoje zdjęcie ponownie!</h3>
                                }
                                <img class="img-upload-preview" height="350" src="~/images/img-placeholder.png" alt="preview" id="img-placeholder">

                                @Html.TextBoxFor(x => x.CarFileImg, null, new { type = "file", accept = "image/*", @class = "form-control form-control-file", @id = "input-img-placeholder" })
                            </div>
                        </div>

                    </div>

                </div>

            </div>


            <div class="row justify-content-center">
                <button class="btn btn-primary mb-3" type="submit">
                    <span class="btn-label">
                        <i class="fa fa-plus"></i>
                    </span>
                    Edytuj samochód
                </button>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>


        function previewFile(input) {
            var file = $("input[type=file]").get(0).files[0];

            if (file) {
                var reader = new FileReader();

                reader.onload = function () {
                    $("#img-placeholder").attr("src", reader.result);
                }

                reader.readAsDataURL(file);
            }
        }

    </script>
}
